# Environment Variables for Notification Service

# Server Configuration
PORT=3006
NODE_ENV=development

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/notification
MONGO_DB_NAME=notification_service_db
MONGO_NOTIFICATION_COLLECTION=notifications

# SMTP Configuration
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=

# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-group

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# Redis Configuration (Optional)
REDIS_URL=redis://localhost:6379

# Logging
LOG_LEVEL=info

# Service ID
SERVICE_ID=notification-service
